.about {
  padding: 20px;
  background-color: #c7a3d6;
  margin: 10px;
  border-radius: 8px;
}

h2 {
  color: #391549;
  text-align: left;
  font-size: 28px;
  font-family: Georgia, serif;
}

p {
  color: #6f2a8a;
  font-size: 16px;
  font-style: italic;
  font-family: Georgia, serif;
}