<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
    <body ng-app="" ng-init="a=0; b=0">
  <h2>Calculator</h2>
  <input type="number" ng-model="a" placeholder="Number 1"><br><br>
  <input type="number" ng-model="b" placeholder="Number 2"><br><br>

  <p>Addition: {{a + b}}</p>
  <p>Subtraction: {{a - b}}</p>
  <p>Multiplication: {{a * b}}</p>
  <p>Division: {{b != 0 ? (a / b) : 'Cannot divide by zero'}}</p>
</body>

</html>