<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>

    <body ng-app="">
  <h2>Student Information</h2>
  <input type="text" ng-model="name" placeholder="Name"><br><br>
  <input type="text" ng-model="roll" placeholder="Roll Number"><br><br>
  <input type="text" ng-model="dept" placeholder="Department"><br><br>

  <h3>Student Details:</h3>
  <p>Name: {{name}}</p>
  <p>Roll No: {{roll}}</p>
  <p>Department: {{dept}}</p>
</body>

</html>