<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>

    <body ng-app="" ng-init="tasks=[]">
  <h2>To-Do List</h2>
  <input type="text" ng-model="newTask" placeholder="Enter task">
  <button ng-click="tasks.push(newTask); newTask=''">Add</button>

  <ul>
    <li ng-repeat="t in tasks">{{t}}</li>
  </ul>
</body>

</html>